<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cafeteria | Checks</title>
  <link rel="stylesheet" href="../frameworks/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="../styles/aStyle.css">
  <script src="../script/vueversion3.js"></script>

</head>

<body>
  <div class="container mt-5">
    <div id="wrapper">
      <h3 class="my-4">Checks</h3>
      <div class="row gap-1 my-4">
        <div class="col-12 col-md col-lg-4">
          <div class="input-group ">
            <label for="date_from" class="input-group-text">Date from</label>
            <input type="date" id="date_from" class="form-control" title="date from" aria-label="date from"
              aria-describedby="date_from" @change="filterOrders">
          </div>
        </div>
        <div class="col-12 col-md col-lg-4">
          <div class="input-group ">
            <label for="date_to" class="input-group-text">Date to</label>
            <input type="date" id="date_to" class="form-control" title="date to" aria-label="date to"
              aria-describedby="date_to" @change="filterOrders">
          </div>
        </div>
        <div class="col-6 col-lg ">
          <select class="form-select form-select" title="users" aria-label="users" @change="filterOrders">
            <option value="">Show All Users</option>
            <option v-for="(user, userId) in groupedOrders" :key="userId" :value="userId">{{ user.user_name }}
            </option>
          </select>
        </div>
      </div>

      <div class="usersChecks card border-0 shadow-sm">
        <!-- Start of users  -->
        <div class="d-flex px-4 fw-bold">
          <p>Name</p>
          <p class="ms-50">Total amount</p>
        </div>
        <!-- start of users accordion -->
        <div class="accordion mb-1" v-for="(user, userId) in filteredOrders" :key="userId">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button text-black bg-white" type="button" data-bs-toggle="collapse"
                :data-bs-target="'#userCollapse_'+userId" aria-expanded="false" aria-controls="userCollapse">
                <p class="m-0">{{ user.user_name }}</p>
                <p class="my-0 ms-50">{{ user.total_amount }} EGP</p>
              </button>
            </h2>
            <div :id="'userCollapse_'+userId" class="accordion-collapse collapse"
              :data-bs-parent="'#userAccordion_'+userId">
              <div class="accordion-body">
                <!-- start of user orders accordion -->
                <div class="accordion mb-2" v-for="(order,orderId) in user.orders" :key="orderId">
                  <div class="accordion-item">
                    <h2 class="accordion-header">
                      <button class="accordion-button text-black bg-light" type="button" data-bs-toggle="collapse"
                        :data-bs-target="'#userOrdersCollapse_'+orderId" aria-expanded="false"
                        aria-controls="userOrdersCollapse">
                        <p class="m-0"> {{ formatDate(order.order_date) }}</p>
                        <p class="my-0 ms-50">{{ order.total_price }} EGP</p>
                      </button>
                    </h2>
                    <div :id="'userOrdersCollapse_'+orderId" class="accordion-collapse collapse">
                      <div class="accordion-body">
                        <div class="accordion-body  row m-0  gap-2 flex-nowrap items_wrapper">
                          <div class="myorder_card-item shadow-sm row g-0"
                            v-for="(product, productId) in order.products" :key="productId">
                            <div>
                              <img :src="getImageSource(product.img)" class="card-img-top" alt="...">
                              <p class="badge bg-primary item_title">{{product.product_name}}</p>
                            </div>
                            <div class="item-footer text-center d-flex justify-content-between">
                              <p class="badge bg-success">{{product.quantity}}</p>
                              <p class="badge bg-secondary m-0">EGP {{product.price}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- End of user orders accordion -->
              </div>
            </div>
          </div>
        </div>

        <!-- End of users accordion -->
        <!-- End of users  -->
      </div>
    </div>
    <script src="../frameworks/bootstrap/bootstrap.bundle.min.js"></script>
    <script>
      const app = Vue.createApp({
        data() {
          return {
            groupedOrders: [],
            filteredOrders: [], // Newly added property for filtered orders
          };
        },
        methods: {
          async getGroupedOrders() {
            try {
              const response = await fetch('../api/checks.php');
              const data = await response.json();
              this.groupedOrders = data;
              this.filteredOrders = data;
              console.log(this.groupedOrders);
            } catch (error) {
              console.error("Error fetching grouped orders:", error);
            }
          },
          getImageSource(imgSrc) {
            const defaultImageSrc = '../images/cup.png';
            const img = new Image();
            img.src = '../images/' + imgSrc;
            if (img.complete) {
              return '../images/' + imgSrc;
            } else {
              return defaultImageSrc;
            }
          },
          formatDate(dateString) {
            const date = new Date(dateString);
            const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
            return new Intl.DateTimeFormat('en-US', options).format(date);
          },
          filterOrders() {
            let dateFrom = new Date(document.getElementById('date_from').value);
            let dateTo = new Date(document.getElementById('date_to').value);

            if (isNaN(dateTo)) {
              dateTo = new Date();
              document.getElementById('date_to').valueAsDate = dateTo;
            }

            const userId = document.querySelector('.form-select').value;
            console.log('Selected userId:', userId); // Log userId to check if it's captured correctly

            if (userId && userId !== '') {
              // Reset date filters
              document.getElementById('date_from').value = '';
              document.getElementById('date_to').value = '';
            } else {
              // Reset user filter
              document.querySelector('.form-select').value = '';
            }

            this.filteredOrders = Object.values(this.groupedOrders).filter(user => {
              // Filter by date range
              if ((dateFrom && dateTo) && (dateFrom != 'Invalid Date')) {
                console.log(userId);
                console.log(dateFrom);
                console.log(dateTo);
                const orderDate = new Date(user.orders[0].order_date);
                console.log('date fillter');
                return orderDate >= dateFrom && orderDate <= new Date(dateTo.getTime() + (24 * 60 * 60 * 1000));
              }

              // Filter by user
              if (userId && userId !== '') {
                return user.user_id === parseInt(userId);
              }

              return true; // If no filter applied, return all orders
            });
          }

        },
        mounted() {
          this.getGroupedOrders();
        }
      }).mount("#wrapper");
    </script>
</body>

</html>