<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cafeteria</title>
  <link rel="icon" type="image/png" href="../images/logo.png"/>
  <link rel="stylesheet" href="../styles/style.css">
  <link rel="stylesheet" href="../frameworks/bootstrap/bootstrap.min.css">
  <script src="../frameworks/bootstrap/bootstrap.min.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
  <style>
      *{
        font-family: 'Playfair Display', serif;
      }
      #warning{
        font-size: large; color: red; display: none;
      }
      #sing{
        font-weight: bold; font-size: large; color:#d21e1e;margin: 10px;
      }
      .user-info {
        p {
          font-size: 22px;
        }
      }
  </style>
</head>
<body>
  <div class="ramadan">
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
  </div>
  <div class="container-fluid landing-page">
    <nav class="d-flex align-items-center justify-content-between">
      <div class="user-info fw-bold d-flex align-items-center">
        <img src="../images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
        <p class="reset">Cafeteria</p>
      </div>
    </nav>
    <p id="warning"   class="text-center m-3">You have entered incorrect information. Please verify your email and password and check your position correctly</p>
    <main class="row align-items-center justify-content-center mt-5">
      <form class="px-2 col-4 needs-validation text-center" @submit.prevent="handleFormSubmission" id="loginForm" novalidate  >
        <div class="col-md-12">
          <label for="useremail" class="form-label">Email</label>
          <input type="email" class="form-control"   pattern="[^@\s]+@[^@\s]+\.[^@\s]+" placeholder="Enter Your Email" v-model="email"
            required>
          <div class="invalid-feedback">
            Please enter a valid email!.
          </div>
        </div>
        <div class="col-md-12">
          <label for="password" class="form-label">password</label>
          <input type="password"  class="form-control"placeholder="enter password" v-model="password"
            required>
          <div class="invalid-feedback">
            Please enter your password !.
          </div>
        </div><br>
        <div class="row justify-content-center align-items-center  m-2 ">     
            <label id="sing" >Sign In As</label>  
        <div class="form-check">
          <input type="radio" name="position" v-model="position" value="admin" class="form-check-input" id="validationFormCheck2" required>
          <label class="form-check-label" for="validationFormCheck2">Admin</label>
        </div>
        <div class="form-check ">
          <input type="radio" name="position" v-model="position" class="form-check-input" id="validationFormCheck3" value="user" required>
          <label class="form-check-label" for="validationFormCheck3">User</label><br>
          <div class="invalid-feedback">please check your account position </div>
        </div></div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </form>
      <!-- <figure class="offset-2 col-6">
        <img src="../images/landing-bg.png" alt="Coffee Cup">
      </figure> -->
    </main>
  </div>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
   

   <script src="../script/login.js"></script>  

</body>
</html>