<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="../images/logo.png" />
  <title>Cafeteria | Orders</title>
  <link rel="stylesheet" href="../frameworks/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
  <link rel="stylesheet" href="../styles/aStyle.css">
  <link rel="stylesheet" href="../styles/style.css">
  <script src="../script/vueversion3.js"></script>
  <!-- Check Opened Session Before Loading -->
  <script>
    try {
      if(!sessionStorage.getItem('userData') && !sessionStorage.getItem('userData')['position']);
    } catch(e){
      window.location.href = "../html/indexx.html";
    }
  </script>
</head>

<body>
  <div id="loading" class="loading d-none">
    <img src="../images/helal.png" class="spinner" width="50" height="50" alt="loading">
    <div class="loading-spinner"></div>
  </div>
  <div class="ramadan">
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img src="../images/zena2.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
    <figure>
      <img class="fanos" src="../images/fanos.png" alt="test">
    </figure>
  </div>
  <!-- Navigation Bar -->
  <nav class="d-flex align-items-center justify-content-between">
    <div class="links d-flex align-items-center justify-content-between">
      <img src="../images/logo.png" alt="Logo" width="50" height="50" class="d-inline-block align-text-top">
      <ul class="text-center d-flex align-items-center justify-content-between m-0">
        <li class="mx-1 "><a href="adminhome.html" class="px-2 py-1"><i class="fa-solid fa-house"></i> Home</a>
        </li>
        <li class="mx-1"><a href="products.html" class="px-2 py-1"><i class="fa-solid fa-receipt"></i> Products</a>
        <li class="mx-1"><a href="users.html" class="px-2 py-1"><i class="fa-solid fa-receipt"></i> Users</a>
        <li class="mx-1 active"><a href="orders.html" class="px-2 py-1"><i class="fa-solid fa-receipt"></i> Manual
            Orders</a>
        <li class="mx-1"><a href="checks.html" class="px-2 py-1"><i class="fa-solid fa-receipt"></i> Checks</a>
      </ul>
    </div>
    <div class="user-info fw-bold d-flex align-items-center py-1">
      <img alt="admin-image" width="50" height="50" class="d-inline-block align-text-top admin-image">
      <p class="admin-name reset"></p>
      <div class="log-out p-2 text-center">
        <button class="btn btn-danger" id="log-out">Log Out</button>
      </div>
    </div>
  </nav>
  <div class="container-fluid container-lg my-5">
    <h1 class="my-4">Orders</h1>
    <hr>
    <div id="ordersWrapper">

      <div class="p-3 order_detailes bg-white bg-opacity-50 my-2" v-for="order in orders">
        <div class="table-responsive">
          <table class="table align-middle">
            <thead>
              <tr>
                <th>Order Date</th>
                <th>Name</th>
                <th>Room</th>
                <th>Ext</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{ formatDate(order.order_date) }}</td>
                <td>{{order.fname +" "+ order.lname}}</td>
                <td>{{order.room}}</td>
                <td>{{order.ext}}</td>
                <td>
                  <select class="form-select bg-white bg-opacity-50" aria-label="Default select example"
                    v-model="order.status" @change="updateOrderStatus(order)">
                    <option value="processing">Processing</option>
                    <option value="done">Done</option>
                    <option value="in delivery">In Delivery</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="row flex-nowrap items_wrapper justify-content-center justify-content-lg-start ">
          <div class="orders_card card bg-white bg-opacity-50 m-2 shadow-sm" v-for="(product, index) in order.products"
            :key="index">
            <div class="badge  bg-secondary ">{{ product.price }} EGP</div>
            <img :src="getImageSource(product.img)" class="card-img-top card-img-orderd " :alt="product.name">
            <div class="card-body p-0">
              <div class="badge text-light mb-2 pname bg-primary">{{ product.name }}</div>
              <div class="badge   text-dark mb-2 w-100 pqty">Qty {{ product.quantity }}</div>
            </div>
          </div>
        </div>
        <div class="lead text-end my-0">Total: EGP {{order.total_price}}</div>

      </div>
    </div>
    <!-- start of toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3" id="liveToastBtn">
      <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">Status Updated</strong>
          <small class="text-body-secondary">just now</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          Order status has been updated successfully.
        </div>
      </div>
    </div>
  </div>
  <script type="module">
    import * as data from '../script/LoggedUser.js';
  </script>
  <script>
    const app = Vue.createApp({
      data() {
        return {
          orders: [],
          selectedStatus: '1',
          updated: false,
          toastInstance: null
        };
      },
      methods: {
        async getOrders() {
          try {
            const response = await fetch('../api/ordersStatusForAdmin.php');
            const data = await response.json();
            this.orders = data.map(order => {
              order.products = JSON.parse("[" + order.products + "]");
              return order;
            });
            console.log(this.orders);
          } catch (error) {
            console.error("Error fetching orders:", error);
          }
        },

        async updateOrderStatus(order) {
          if (confirm('Are you sure you want to update the status?')) {
            try {
              const response = await fetch('../api/updateOrderStatus.php', {
                method: 'POST',
                headers: {
                  'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                  orderId: order.order_id,
                  status: order.status
                }),
              });
              if (response.ok) {
                console.log(await response.text());
                this.updated = true;
                const toastElement = document.getElementById('liveToast');
                const toastInstance = new bootstrap.Toast(toastElement);
                toastInstance.show();

                setTimeout(() => {
                  this.updated = false;
                }, 3000);
              } else {
                throw new Error('Failed to update order status');
              }
            } catch (error) {
              console.error(error);
            }
          }
        },
        formatDate(dateString) {
          const date = new Date(dateString);
          const options = { year: 'numeric', month: '2-digit', day: '2-digit', hour: '2-digit', minute: '2-digit' };
          return new Intl.DateTimeFormat('en-US', options).format(date);
        },
        getImageSource(imgSrc) {
          const defaultImageSrc = '../images/cup.png';
          const img = new Image();
          img.src = '../images/' + imgSrc;
          if (img.complete) {
            return '../images/' + imgSrc;
          } else {
            return defaultImageSrc;
          }
        },
      },
      mounted() {
        this.getOrders();
      }
    }).mount("#ordersWrapper");
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>